.contact__info
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.info__item
  width: 49%

#map
  width: 100%
  height: 35rem
  position: relative

#name,
#phone,
#email,
#tour-package,
#user-message
  width: 60%
  border: none
  border-bottom: 1px solid #cccccc
  margin-top: 3rem

#name,
#phone,
#email,
#tour-package
  padding: 1rem

#name:focus,
#phone:focus,
#email:focus,
#tour-package:focus
  

.contact__link
  border: none
  font-size: 1.2rem
  padding: 1rem 5rem